<div class="container">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">{{"Meeting" | translate}}</span>
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{selectedLang}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" (click)="toggleLang('en')">English</a>
        <a class="dropdown-item" href="#" (click)="toggleLang('hi')">हिन्दी</a>
      </div>
    </div>
  </nav>


  <div class="row">
    <div class="col-md-6">
      <app-meeting [list]="list"></app-meeting>
    </div>

    <app-meeting-list #list class="col-md-6"></app-meeting-list>

  </div>

</div>